
<div *ngIf="produits">
    <h2><span jhiTranslate="gesBtpApp.produits.detail.title">Produits</span> {{produits.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gesBtpApp.produits.nomProduit">Nom Produit</span></dt>
        <dd>
            <span>{{produits.nomProduit}}</span>
        </dd>
        <dt><span jhiTranslate="gesBtpApp.produits.prixUnitaire">Prix Unitaire</span></dt>
        <dd>
            <span>{{produits.prixUnitaire}}</span>
        </dd>
        <dt><span jhiTranslate="gesBtpApp.produits.description">Description</span></dt>
        <dd>
            <span>{{produits.description}}</span>
        </dd>
        <dt><span jhiTranslate="gesBtpApp.produits.user">User</span></dt>
        <dd>
            {{produits.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produits/'+ produits.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
